.student-list {
    padding: 24px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    font-family: 'Raleway';
    position: relative;
  }
  
  .student-list:hover {
    transform: scale(1.05);
  }

  .student-information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px 0px 40px 75px;
  }
 
  img {
    margin-top: 50px;
    border-radius: 50%;
    border: solid 1px rgb(205, 199, 199);
    float:left;
    width: 100%;
    max-width: 15vw;
    height: auto;
  }
  
  .toggle {
    width: 30px;
    margin-right: 20vw;
    cursor: pointer;
    transition: transform 0.25s ease-out;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0%;
    left:90%;
    padding-top: 100px;
  }

  .item-info-grades {
    padding: 10px 10px 10px 30px;
    font-size: 1.25vw;
  }

 